<h1>Custom Primeng Table</h1>
<app-custom-table [value]="content">
  <ng-template pTemplate="header">
    <tr>
      <th>col1</th>
      <th>col2</th>
      <th>col3</th>
      <th>col4</th>
      <th>col5</th>
      <th>col6</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-content>
    <tr>
      <td>{{content.col1}}</td>
      <td>{{content.col2}}</td>
      <td>{{content.col3}}</td>
      <td>{{content.col4}}</td>
      <td>{{content.col5}}</td>
      <td>{{content.col6}}</td>
    </tr>
  </ng-template>
</app-custom-table>

<br><br> <hr>
<h1>Original Primeng Table</h1>
<p-table [value]="contents" >
    <ng-template pTemplate="header">
        <tr>
          <th>col1</th>
          <th>col2</th>
          <th>col3</th>
          <th>col4</th>
          <th>col5</th>
          <th>col6</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-content>
        <tr>
          <td>{{content.col1}}</td>
          <td>{{content.col2}}</td>
          <td>{{content.col3}}</td>
          <td>{{content.col4}}</td>
          <td>{{content.col5}}</td>
          <td>{{content.col6}}</td>
        </tr>
      </ng-template>
  </p-table>